.resume-photo {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Ensure height matches width for a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    margin-bottom: 20px;
}
body{
    background: #5fb49c
    
}
